<!-- build a grid for the board -->
<!--
          P3
--------------------
    |           |
 P2 |   Middle  | P4
    |           |
--------------------
          P1
-->

<div class="full-height-container">
 <div class="player-3">
   <div class="player-hand-horizontal">
     <div *ngFor="let card of game.player3.Hand.Cards" class="playing-card" [ngClass]="card.cssClass"></div>
   </div>
 </div>
 <div class="middle-container">
   <div class="player-2">
     <div class="player-hand-vertical">
       <div *ngFor="let card of game.player2.Hand.Cards" class="playing-card" [ngClass]="card.cssClass"></div>
     </div>
   </div>
   <div class="card-area">
     <!--<div class="blind" *ngIf="game.blindCards && !game.activeSet.DiscardComplete">-->
     <div class="blind" *ngIf="game.blindCards">
       <div *ngFor="let card of game.blindCards" class="playing-card" [ngClass]="card.cssClass"></div>
     </div>
     <div class="card-3">
       {{ game.player3BiddingPosition }} | {{ game.player3.Bid.BidDisplay }}
       <div *ngIf="game.activeSet.player3PlayedCard" class="playing-card" [ngClass]="game.activeSet.player3PlayedCard?.cssClass"></div>
     </div>
     <div class="card-2">
        {{ game.player2BiddingPosition }} | {{ game.player2.Bid.BidDisplay }}
       <div *ngIf="game.activeSet.player2PlayedCard" class="playing-card" [ngClass]="game.activeSet.player2PlayedCard?.cssClass"></div>
     </div>
     <div class="card-4">
       {{ game.player4BiddingPosition }} | {{ game.player4.Bid.BidDisplay }}
       <div *ngIf="game.activeSet.player4PlayedCard" class="playing-card" [ngClass]="game.activeSet.player4PlayedCard?.cssClass"></div>
     </div>
     <div class="card-1">
       {{ game.player1BiddingPosition }} | {{ game.player1.Bid.BidDisplay }}
       <div *ngIf="game.activeSet.player1PlayedCard" class="playing-card" [ngClass]="game.activeSet.player1PlayedCard?.cssClass"></div>
     </div>
   </div>
   <div class="player-4">
     <div class="player-hand-vertical">
       <div *ngFor="let card of game.player4.Hand.Cards" class="playing-card" [ngClass]="card.cssClass"></div>
     </div>
   </div>
 </div>
 <div class="player-1">
   <button class="btn btn-success btn-sm" type="button" (click)="newGame()">New Game</button>
   <button class="btn btn-warning btn-sm" type="button" (click)="playCard()">Play Card</button>
   <div class="player-hand-horizontal" [ngClass]="{ 'has-blind': game.player1.Hand.Cards.length > 10 }">
     <div *ngFor="let card of game.player1.Hand.Cards" class="playing-card" [ngClass]="card.cssClass"></div>
   </div>
 </div>
</div>
