$card-container-width: 20vw;
$card-container-width-double: $card-container-width * 2;
$card-container-width-half: $card-container-width * 0.5;
$card-container-height: 15vh;
$card-container-height-double: $card-container-height * 2;
$card-container-height-half: $card-container-height * 0.5;

$hover-height: 20px;

.player-hand-horizontal, .player-hand-vertical {
  position: relative;
  text-align: center;
}

.player-hand-vertical{
  height: 100%;
}

.playing-card {
  width: $card-container-width;
  height: $card-container-height;

  max-height: 150px;
  max-width: 100px;

  background: url("/assets/cards/back.png") no-repeat center;
  background-size: contain;

  $card-suit-list: clubs, diamonds, hearts, spades;
  $card-name-list: 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14;

  @each $card-suit in $card-suit-list {
    @each $card-name in $card-name-list {
      &.playing-card-#{$card-suit}-#{$card-name} {
        background: url("/assets/cards/#{$card-suit}/#{$card-name}.png") no-repeat center;
        background-size: contain;
      }
    }
  }

  /* add the joker */
  &.playing-card-none-17 {
    background: url("/assets/cards/none/17.png") no-repeat center;
    background-size: contain;
  }
}



.full-height-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .player-1, .player-3 {
    /* Horizontal cards */

    .playing-card {
      display: inline-block;
    }
  }
  /* hover animation*/
  .player-1{
    .playing-card {
      transition: .15s;
      margin-top: $hover-height;
      vertical-align: top;

      &:hover, &:focus {
        margin-top: 0px;
      }
    }
  }

  .player-2, .player-4 {
    /* vertical cards */
    .playing-card{
      position: absolute;
      @for $i from 1 through 10 {
        &.playing-card:nth-child(#{$i}){
          @if $i > 1 {
            top: percentage(($i - 1) * 0.08);
          }
        }
      }
    }
  }


  .player-1 {
    background-color: blue;
    height: calc(#{$card-container-height} + #{$hover-height});
  }

  .player-3 {
    background-color: purple;
    height: $card-container-height;
  }

  .middle-container {
    height: calc(100vh - #{$card-container-height-double} - #{$hover-height});
    width: 100%;

    .player-2, .player-4, .card-area {
      height: 100%;
      display: inline-block;
    }

    .player-2, .player-4{
      width: $card-container-width;
    }

    .player-2 {
      background-color: red;
      margin-right: -5px;
    }

    .card-area {
      background-color: green;
      width: calc(100vw - #{$card-container-width-double});
      position: relative;
      vertical-align: top;

      $card-area-padding: 12px;

      .card-1, .card-2, .card-3, .card-4{
        position: absolute;
      }

      .card-1, .card-3 {
        right: 0;
        left: 0;
        .playing-card {
          margin: 0px auto;
        }
      }

      .card-2, .card-4{
        vertical-align: middle;
        top: 40%;
        bottom: 0;
      }

      .blind {
        position: absolute;
        top: 48%;
        left: 0;
        right: 0;
        z-index: 1000;
        text-align: center;
        .playing-card {
          display: inline-block;
        }
      }
      .card-3 {
        top: $card-area-padding;
        text-align: center;
      }
      .card-2 {
        left: $card-area-padding;
      }
      .card-4 {
        right: $card-area-padding;
      }
      .card-1 {
        bottom: $card-area-padding;
        text-align: center;
      }
    }

    .player-4 {
      background-color: yellow;
      margin-left: -5px;
    }
  }
}


/* Mobile */
@media (min-width: 320px) {

  .full-height-container {
    .player-1, .player-3 {
      position: relative;

      /* Horizontal cards */
      .playing-card {
        display: inline-block;
        margin-left: -13%;

        &.playing-card:first-child{
          margin-left: 0px;
        }
      }
    }

    /* TODO */
    .has-blind {
      .player-1, .player-3 {
        position: relative;

        /* Horizontal cards */
        .playing-card {
          display: inline-block;
          margin-left: -13%;

          &.playing-card:first-child{
            margin-left: 0px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {

  .player-2{
    .playing-card{
      left: 0;
    }
  }

  .player-4{
    .playing-card{
      right: 0;
    }
  }

  .full-height-container {
    .player-1, .player-3 {
      position: relative;

      /* Horizontal cards */
      .playing-card {
        display: inline-block;
        margin-left: -9%;

        &.playing-card:first-child{
          margin-left: 0px;
        }
      }
    }

    /* TODO */
    .has-blind {
      .player-1 {
        .playing-card {
          margin-left: -9%;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .player-2{
    .playing-card{
      left: $card-container-width-half / 2;
    }
  }

  .player-4{
    .playing-card{
      right: $card-container-width-half / 2;
    }
  }

  .full-height-container {
    .player-1, .player-3 {
      position: relative;

      /* Horizontal cards */
      .playing-card {
        display: inline-block;
        margin-left: -5%;

        &.playing-card:first-child{
          margin-left: 0px;
        }
      }
    }

    /* TODO */
    .has-blind {
      .player-1 {
        .playing-card {
          margin-left: -13%;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .full-height-container {
    .player-1, .player-3 {
      position: relative;

      /* Horizontal cards */
      .playing-card {
        display: inline-block;
        margin-left: -2%;

        &.playing-card:first-child{
          margin-left: 0px;
        }
      }
    }

    /* TODO */
    .has-blind {
      .player-1 {
        .playing-card {
          display: inline-block;
          margin-left: -2%;
        }
      }
    }
  }
}
